body {
    background-color: #F0F0F0;

}

.box {
    background-color: #ffffff;
    border-radius: 5px;
    width: 798px;
    height: 574px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 250px;
}

.tittle {
    color: #FF6A28;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700px;
    font-family: Roboto; sans-serif;

}

.sub-tittle {
    color: #61656D;
    font-size: 16px;
    margin-top: 2px;
}

.image {
    margin-top: 14px;
}

.section {
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    text-transform: uppercase;


    
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 100px;

    
}

.info-box {
    width: 118px;
    height: 85px;
    background-color: #f0f0f0;
    color: #61656D;
    border-radius: 5px;
    margin-bottom: 12px;
    margin-right: 27px;
    margin: 9px, 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.info-text {
    color: #61656D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
    margin-top: 10px;

}

.info-about {
    color: #FF6A28;
    background-color: #f0f0f0;
    text-transform: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;

    width: 238px;
    height: 85px;
    border-radius: 5px;

}

.user-info {

    justify-content: space-around;
    align-items: center;
}



.info-strong {
    color: #FF6A28;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}


.field-user {
    color: #61656D;
    text-transform: none;
}
